div#blok1
{
background-color: green;
width: 622px;
}
div#blok1:hover
{
background-color: red;
font-size:19.5mm;
}
div#blok2
{
background-color: green;
width: 622px;
}
div#blok2:hover
{
background-color: gold;
font-size: 19.5mm;
}
div#blok3
{
background-color: green;
width: 622px;
}
div#blok3:hover
{
background-color: yellow;
font-size: 19.5mm;
}
/*
hover; - zmiany pewnych elementów po 
najechaniu na nie urządzeniem wskazującym 
(np. myszą), np. odsyłacz, nad którym 
zatrzymano kusor lub element blokowy DIV.
Giacomo Sender
*/